/* * {
    margin: 0px auto;
    padding-top: 0px;
    text-align: center;  
  } */
  .cont_principal {
    position: relative;
    width: 100%;
    height: 100%;
  overflow: auto;
    background: rgb(255, 255, 255);
  /* background: -moz-linear-gradient(-45deg,  rgba(250,249,247,1) 0%, rgba(221,218,209,1) 100%);
  background: -webkit-linear-gradient(-45deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%);
  background: linear-gradient(135deg,  rgba(250,249,247,1) 0%,rgba(221,218,209,1) 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faf9f7', endColorstr='#dddad1',GradientType=1 );*/
  }
  
  .cont_centrar {
    position: relative;
    width: 500px;
   }
.list_0{
    z-index: 1;  
  }
  
  .list_0 > .col_md_1_list {
    border-left: 4px solid #E35144;
    color: #E35144;
  }
  
  .list_1 > .col_md_1_list {
     border-left: 4px solid #D63966;
     color:	#D63966;
  }
  
  .list_2 > .col_md_1_list {
     border-left: 4px solid #8F36AA;
     color: #8F36AA;
  }
  
  .list_3 >.col_md_1_list {
     border-left: 4px solid #603FB0; 
     color: #603FB0;
  }
  .list_4 > .col_md_1_list {
    border-left: 4px solid #4252B0;
    color: #4252B0;
  }
  
  .list_5 > .col_md_1_list {
     border-left: 4px solid #4696EB;
     color: #4696EB;
  }
  
  .list_6 > .col_md_1_list {
     border-left: 4px solid #4AA8EE;
     color: #4AA8EE;
  }
  
  .list_7 >.col_md_1_list {
     border-left: 4px solid #54BAD1; 
     color: #54BAD1;
  }
  .col_md_3_list > .cont_btns_options > ul > li > a > i {
    font-size: 15px;
  }

  .cont_princ_lists {
    position: relative;
    float: center;
    width: 100%;
  margin-top: 15px;
  }
  
  .cont_princ_lists > ul > li  {
    position: relative;
    float: left;
    width: 90%; 
    height: 75px;
    left: 0;
    background-color: #F1F1EF;
  list-style: none;
  box-shadow: 1px 10px 20px 0px rgba(218, 215, 206,0.8);
  z-index: 2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  }
  
  .col_md_1_list {
    width: 125px;
    position: relative;
    float: left;
    height: 20px;
    top:50%;
    margin-top: -10px;
  }
  .col_md_1_list > p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  
  .col_md_2_list {
    width: 250px;
    position: relative;
    float: left;
    margin-top: 20px;
  }
  .col_md_2_list  > h4 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
  }
  
  .col_md_2_list  > p {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #999;
  }
  /* .col_md_3_list {
    position: absolute;
    padding-top: 5%
  } */
  
  
  .col_md_3_list {
    width: 125px;
    position: absolute;
    float: right;
    height: 20px;
    top:50%;
    margin-top: -10px;
    margin-left: 55%
  }
  /* .cont_text_status{
    padding-top: 8px;
  } */
  

  /* .col_md_3_list > .cont_text_status {
    text-align: right;
    position: relative;
    float: left;
    margin-top: 50%;
    padding-top: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;  
  } */
  /* .col_md_3_list > .cont_text_status > p {
        text-align: left;
        margin-top: 50px;
        padding-top: 8px;        
        display: block;

  } */
  
  .col_md_3_list:hover > .cont_btns_options{
  opacity: 1;  
  margin-left: 75%
  
  }
  
  .col_md_3_list > .cont_btns_options{
    position: relative;
    width: 100%;
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    /* background-color: #F1F1EF; */
    width: 100%;
    height: 47px;
    top: 0px;
  }
  
  .col_md_3_list > .cont_btns_options > ul > li{
    position: absolute;
    float: right;
    width: 100%;
  list-style-type: none;
  }

  .col_md_3_list > .cont_btns_options > ul > li > a {
    display: block;
    width: 20px;
    height: 15px;
    background-color: #F1F1EF;
    padding: 5px 3px;
    border-radius: 50%;
    color: #4C75A1;
    margin-top: -35px;
  }
  .delete > a {
    display: block;
    margin-top: 30px; 
    margin-right: 1px;
    /* background-color: rgb(150, 38, 38); */
    /* margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 20px;
    height: 15px;
    background-color: #fff;
    padding: 5px 3px;
    border-radius: 50%;
    color: #4C75A1;
   */
  }
 
  