nav{
    background: #00416A;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, rgb(162, 170, 179), #00416A);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, rgb(187, 197, 207), #00416A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}